.cart {
    border: 2px solid rgb(80, 65, 135);
    width: 20%;
    height: 100px;
    font-size: 50px;
    color:rgb(71, 10, 97);
    background-color: rgb(50, 171, 236);

}
.cartsList{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
.none{
    display: none;
}
.btn{
    border: 2px solid rgb(80, 65, 135);
    justify-self:center;
    height: 100;
    color:rgb(255, 255, 255);
    background-color: rgb(197, 34, 34);
    font-size: 50px;
}